In [ ]:
import pandas as pd
import csv
#from google.colab import files
#file = files.upload()

In [ ]:
!pip install --upgrade xlrd

Requirement already satisfied: xlrd in /Users/tomokikyotani/opt/anaconda3/lib/python3.9/site-packages (2.0.1)

# 2010

In [ ]:
df_2010 = pd.read_excel('./initial/Electric/original/ELECTRIC_2010.xls', skiprows=7)
df_2010.head()

,Plant ID,Combined Heat & Power Plant,Nuclear Unit I.D.,Plant Name,Operator Name,Operator ID,State,Census Region,NERC Region,Reserved,...,NETGEN_SEP,NETGEN_OCT,NETGEN_NOV,NETGEN_DEC,TOTAL FUEL CONSUMPTION QUANTITY,ELECTRIC FUEL CONSUMPTION QUANTITY,TOTAL FUEL CONSUMPTION MMBTUS,ELEC FUEL CONSUMPTION MMBTUS,NET GENERATION (megawatthours),Year
0,2,N,NaN,Bankhead Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,3959.266,3976.687,5650.315,9870.818,0,0,985172,985172,100981.000,2010
1,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,203457.000,227255.000,215456.000,253636.000,399953,399953,409113,409113,2605623.000,2010
2,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,NaN,0.000,NaN,NaN,0,0,0,0,0.000,2010
3,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,371013.000,411438.000,393852.000,468560.000,49297741,49297741,50455319,50455319,4748932.000,2010
4,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,575756.007,248864.925,497237.772,564394.565,3476163,3476163,78476870,78476870,7749280.005,2010

In [ ]:
df_2010.drop(df_2010[df_2010['Plant ID'] == 99999].index, axis='index', inplace=True)

In [ ]:
print(len(df_2010.columns))
df_2010.columns

97

Index(['Plant ID', 'Combined Heat & Power Plant', 'Nuclear Unit I.D.',
       'Plant Name', 'Operator Name', 'Operator ID', 'State', 'Census Region',
       'NERC Region', 'Reserved ', 'NAICS Code', 'EIA Sector Number',
       'Sector Name', 'Reported Prime Mover', 'Reported Fuel Type Code',
       'AER Fuel Type Code', 'Reserved .1', 'Reserved .2',
       'Physical Unit Label', 'QUANTITY_JAN', 'QUANTITY_FEB', 'QUANTITY_MAR',
       'QUANTITY_APR', 'QUANTITY_MAY', 'QUANTITY_JUN', 'QUANTITY_JUL',
       'QUANTITY_AUG', 'QUANTITY_SEP', 'QUANTITY_OCT', 'QUANTITY_NOV',
       'QUANTITY_DEC', 'ELEC_QUANTITY_JAN', 'ELEC_QUANTITY_FEB',
       'ELEC_QUANTITY_MAR', 'ELEC_QUANTITY_APR', 'ELEC_QUANTITY_MAY',
       'ELEC_QUANTITY_JUN', 'ELEC_QUANTITY_JUL', 'ELEC_QUANTITY_AUG',
       'ELEC_QUANTITY_SEP', 'ELEC_QUANTITY_OCT', 'ELEC_QUANTITY_NOV',
       'ELEC_QUANTITY_DEC', 'MMBTU_PER_UNIT_JAN', 'MMBTU_PER_UNIT_FEB',
       'MMBTU_PER_UNIT_MAR', 'MMBTU_PER_UNIT_APR', 'MMBTU_PER_UNIT_MAY',
       'MMBTU_PER_UNIT_JUN', 'MMBTU_PER_UNIT_JUL', 'MMBTU_PER_UNIT_AUG',
       'MMBTU_PER_UNIT_SEP', 'MMBTU_PER_UNIT_OCT', 'MMBTU_PER_UNIT_NOV',
       'MMBTU_PER_UNIT_DEC', 'TOT_MMBTU_JAN', 'TOT_MMBTU_FEB', 'TOT_MMBTU_MAR',
       'TOT_MMBTU_APR', 'TOT_MMBTU_MAY', 'TOT_MMBTU_JUN', 'TOT_MMBTU_JUL',
       'TOT_MMBTU_AUG', 'TOT_MMBTU_SEP', 'TOT_MMBTU_OCT', 'TOT_MMBTU_NOV',
       'TOT_MMBTU_DEC', 'ELEC_MMBTUS_JAN', 'ELEC_MMBTUS_FEB',
       'ELEC_MMBTUS_MAR', 'ELEC_MMBTUS_APR', 'ELEC_MMBTUS_MAY',
       'ELEC_MMBTUS_JUN', 'ELEC_MMBTUS_JUL', 'ELEC_MMBTUS_AUG',
       'ELEC_MMBTUS_SEP', 'ELEC_MMBTUS_OCT', 'ELEC_MMBTUS_NOV',
       'ELEC_MMBTUS_DEC', 'NETGEN_JAN', 'NETGEN_FEB', 'NETGEN_MAR',
       'NETGEN_APR', 'NETGEN_MAY', 'NETGEN_JUN', 'NETGEN_JUL', 'NETGEN_AUG',
       'NETGEN_SEP', 'NETGEN_OCT', 'NETGEN_NOV', 'NETGEN_DEC',
       'TOTAL FUEL CONSUMPTION QUANTITY', 'ELECTRIC FUEL CONSUMPTION QUANTITY',
       'TOTAL FUEL CONSUMPTION MMBTUS', 'ELEC FUEL CONSUMPTION MMBTUS',
       'NET GENERATION (megawatthours)', 'Year'],
      dtype='object')

In [ ]:
df_2010.rename(columns={'Plant ID': 'Plant Id', 'Plant Name': 'Plant Name', 'Operator Name': 'Operator Name', 'Operator ID': 'Operator Id', 'State': 'State',
                   'Reported Fuel Type Code': 'Reported Fuel Type Code', 'AER Fuel Type Code': 'AER Fuel Type Code',
                   'NET GENERATION (megawatthours)': 'Net Generation (Megawatthours)', 'ELEC FUEL CONSUMPTION MMBTUS': 'Elec Fuel Consumption MMBtu',
                   'Year': 'Year'}, inplace=True)

In [ ]:
print(df_2010.shape)
df_2010['Year'].value_counts()

(10036, 97)

2010    10036
Name: Year, dtype: int64

In [ ]:
df_2010.to_csv('ele_2010.csv', index = False, quoting=csv.QUOTE_NONNUMERIC)

# 2011

In [ ]:
df = pd.read_excel('./initial/Electric/original/ELECTRIC_2011.xlsx', skiprows=5)
df.head()

,Plant Id,Combined Heat & Power Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,State,Census Region,NERC Region,Reserved,...,Netgen_Sep,Netgen_Oct,Netgen_Nov,Netgen_Dec,Total Fuel Consumption Quantity,Electric Fuel Consumption Quantity,Total Fuel Consumption MMBtu,Elec Fuel Consumption MMBtu,Net Generation (Megawatthours),YEAR
0,2,N,NaN,Bankhead Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,7644.493,5745.298,9753.196,18508.394,0,0,1253705,1253705,129035.0,2011
1,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,244954,254343,265446,231626,736775,736775,749136,749136,2779276.0,2011
2,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,424276,454200,472702,426776,52393245,52393245,53302057,53302057,4921183.0,2011
3,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,.,.,.,.,0,0,0,0,0.0,2011
4,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,237950.59,341045.86,43893.908,75862.989,2081219,2081219,47068634,47068634,4528324.4,2011

In [ ]:
df.drop(df[df['Plant Id'] == 99999].index, axis='index', inplace=True)

In [ ]:
print(len(df.columns))
df.columns

97

Index(['Plant Id', 'Combined Heat & Power Plant', 'Nuclear Unit Id',
       'Plant Name', 'Operator Name', 'Operator Id', 'State', 'Census Region',
       'NERC Region', 'Reserved', 'NAICS Code', 'EIA Sector Number',
       'Sector Name', 'Reported Prime Mover', 'Reported Fuel Type Code',
       'AER Fuel Type Code', 'Reserved.1', 'Reserved.2', 'Physical Unit Label',
       'Quantity_Jan', 'Quantity_Feb', 'Quantity_Mar', 'Quantity_Apr',
       'Quantity_May', 'Quantity_Jun', 'Quantity_Jul', 'Quantity_Aug',
       'Quantity_Sep', 'Quantity_Oct', 'Quantity_Nov', 'Quantity_Dec',
       'Elec_Quantity_Jan', 'Elec_Quantity_Feb', 'Elec_Quantity_Mar',
       'Elec_Quantity_Apr', 'Elec_Quantity_May', 'Elec_Quantity_Jun',
       'Elec_Quantity_Jul', 'Elec_Quantity_Aug', 'Elec_Quantity_Sep',
       'Elec_Quantity_Oct', 'Elec_Quantity_Nov', 'Elec_Quantity_Dec',
       'MMBtuPer_Unit_Jan', 'MMBtuPer_Unit_Feb', 'MMBtuPer_Unit_Mar',
       'MMBtuPer_Unit_Apr', 'MMBtuPer_Unit_May', 'MMBtuPer_Unit_Jun',
       'MMBtuPer_Unit_Jul', 'MMBtuPer_Unit_Aug', 'MMBtuPer_Unit_Sep',
       'MMBtuPer_Unit_Oct', 'MMBtuPer_Unit_Nov', 'MMBtuPer_Unit_Dec',
       'Tot_MMBtuJan', 'Tot_MMBtuFeb', 'Tot_MMBtuMar', 'Tot_MMBtuApr',
       'Tot_MMBtuMay', 'Tot_MMBtuJun', 'Tot_MMBtuJul', 'Tot_MMBtuAug',
       'Tot_MMBtuSep', 'Tot_MMBtuOct', 'Tot_MMBtuNov', 'Tot_MMBtuDec',
       'Elec_MMBtuJan', 'Elec_MMBtuFeb', 'Elec_MMBtuMar', 'Elec_MMBtuApr',
       'Elec_MMBtuMay', 'Elec_MMBtuJun', 'Elec_MMBtuJul', 'Elec_MMBtuAug',
       'Elec_MMBtuSep', 'Elec_MMBtuOct', 'Elec_MMBtuNov', 'Elec_MMBtuDec',
       'Netgen_Jan', 'Netgen_Feb', 'Netgen_Mar', 'Netgen_Apr', 'Netgen_May',
       'Netgen_Jun', 'Netgen_Jul', 'Netgen_Aug', 'Netgen_Sep', 'Netgen_Oct',
       'Netgen_Nov', 'Netgen_Dec', 'Total Fuel Consumption Quantity',
       'Electric Fuel Consumption Quantity', 'Total Fuel Consumption MMBtu',
       'Elec Fuel Consumption MMBtu', 'Net Generation (Megawatthours)',
       'YEAR'],
      dtype='object')

In [ ]:
df.rename(columns={'Plant Id': 'Plant Id', 'Plant Name': 'Plant Name', 'Operator Name': 'Operator Name', 'Operator Id': 'Operator Id', 'State': 'State',
                   'Reported Fuel Type Code': 'Reported Fuel Type Code', 'AER Fuel Type Code': 'AER Fuel Type Code',
                   'Net Generation (Megawatthours)': 'Net Generation (Megawatthours)', 'Elec Fuel Consumption MMBtu': 'Elec Fuel Consumption MMBtu',
                   'YEAR': 'Year'}, inplace=True)

In [ ]:
print(df.shape)
df['Year'].value_counts()

(10289, 97)

2011    10289
Name: Year, dtype: int64

In [ ]:
df.to_csv('ele_2011.csv', index = False, quoting=csv.QUOTE_NONNUMERIC)

# 2012

In [ ]:
df = pd.read_excel('./initial/Electric/original/ELECTRIC_2012.xlsx', skiprows=5)
df.head()

,Plant Id,Combined Heat And\nPower Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Census Region,NERC Region,Reserved,...,Netgen\nSeptember,Netgen\nOctober,Netgen\nNovember,Netgen\nDecember,Total Fuel Consumption\nQuantity,Electric Fuel Consumption\nQuantity,Total Fuel Consumption\nMMBtu,Elec Fuel Consumption\nMMBtu,Net Generation\n(Megawatthours),YEAR
0,2,N,NaN,Bankhead Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,10017.213,11576.596,11378.155,17358.447,0,0,1514757,1514757,159180.00,2012
1,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,242342,251588,211905,261126,640125,640125,652416,652416,2851073.00,2012
2,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,431341,454159,386138,484909,54361491,54361491,55405154,55405154,5092309.00,2012
3,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,602948.34,427607.72,495229.57,340630.16,2405511,2405511,53178323,53178323,5181893.50,2012
4,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,17202.661,26204.276,10804.435,31387.839,1377674,1377674,1405818,1405818,137253.46,2012

In [ ]:
df.drop(df[df['Plant Id'] == 99999].index, axis='index', inplace=True)

In [ ]:
print(len(df.columns))
df.columns

97

Index(['Plant Id', 'Combined Heat And\nPower Plant', 'Nuclear Unit Id',
       'Plant Name', 'Operator Name', 'Operator Id', 'Plant State',
       'Census Region', 'NERC Region', 'Reserved', 'NAICS Code',
       'EIA Sector Number', 'Sector Name', 'Reported\nPrime Mover',
       'Reported\nFuel Type Code', 'AER\nFuel Type Code', 'Reserved.1',
       'Reserved.2', 'Physical\nUnit Label', 'Quantity\nJanuary',
       'Quantity\nFebruary', 'Quantity\nMarch', 'Quantity\nApril',
       'Quantity\nMay', 'Quantity\nJune', 'Quantity\nJuly', 'Quantity\nAugust',
       'Quantity\nSeptember', 'Quantity\nOctober', 'Quantity\nNovember',
       'Quantity\nDecember', 'Elec_Quantity\nJanuary',
       'Elec_Quantity\nFebruary', 'Elec_Quantity\nMarch',
       'Elec_Quantity\nApril', 'Elec_Quantity\nMay', 'Elec_Quantity\nJune',
       'Elec_Quantity\nJuly', 'Elec_Quantity\nAugust',
       'Elec_Quantity\nSeptember', 'Elec_Quantity\nOctober',
       'Elec_Quantity\nNovember', 'Elec_Quantity\nDecember',
       'MMBtuPer_Unit\nJanuary', 'MMBtuPer_Unit\nFebruary',
       'MMBtuPer_Unit\nMarch', 'MMBtuPer_Unit\nApril', 'MMBtuPer_Unit\nMay',
       'MMBtuPer_Unit\nJune', 'MMBtuPer_Unit\nJuly', 'MMBtuPer_Unit\nAugust',
       'MMBtuPer_Unit\nSeptember', 'MMBtuPer_Unit\nOctober',
       'MMBtuPer_Unit\nNovember', 'MMBtuPer_Unit\nDecember',
       'Tot_MMBtu\nJanuary', 'Tot_MMBtu\nFebruary', 'Tot_MMBtu\nMarch',
       'Tot_MMBtu\nApril', 'Tot_MMBtu\nMay', 'Tot_MMBtu\nJune',
       'Tot_MMBtu\nJuly', 'Tot_MMBtu\nAugust', 'Tot_MMBtu\nSeptember',
       'Tot_MMBtu\nOctober', 'Tot_MMBtu\nNovember', 'Tot_MMBtu\nDecember',
       'Elec_MMBtu\nJanuary', 'Elec_MMBtu\nFebruary', 'Elec_MMBtu\nMarch',
       'Elec_MMBtu\nApril', 'Elec_MMBtu\nMay', 'Elec_MMBtu\nJune',
       'Elec_MMBtu\nJuly', 'Elec_MMBtu\nAugust', 'Elec_MMBtu\nSeptember',
       'Elec_MMBtu\nOctober', 'Elec_MMBtu\nNovember', 'Elec_MMBtu\nDecember',
       'Netgen\nJanuary', 'Netgen\nFebruary', 'Netgen\nMarch', 'Netgen\nApril',
       'Netgen\nMay', 'Netgen\nJune', 'Netgen\nJuly', 'Netgen\nAugust',
       'Netgen\nSeptember', 'Netgen\nOctober', 'Netgen\nNovember',
       'Netgen\nDecember', 'Total Fuel Consumption\nQuantity',
       'Electric Fuel Consumption\nQuantity', 'Total Fuel Consumption\nMMBtu',
       'Elec Fuel Consumption\nMMBtu', 'Net Generation\n(Megawatthours)',
       'YEAR'],
      dtype='object')

In [ ]:
df.rename(columns={'Plant Id': 'Plant Id', 'Plant Name': 'Plant Name', 'Operator Name': 'Operator Name', 'Operator Id': 'Operator Id', 'Plant State': 'State',
                   'Reported\nFuel Type Code': 'Reported Fuel Type Code', 'AER\nFuel Type Code': 'AER Fuel Type Code',
                   'Net Generation\n(Megawatthours)': 'Net Generation (Megawatthours)', 'Elec Fuel Consumption\nMMBtu': 'Elec Fuel Consumption MMBtu',
                   'YEAR': 'Year'}, inplace=True)

In [ ]:
print(df.shape)
df['Year'].value_counts()

(10864, 97)

2012    10864
Name: Year, dtype: int64

In [ ]:
df.to_csv('ele_2012.csv', index = False, quoting=csv.QUOTE_NONNUMERIC)

# 2013

In [ ]:
df = pd.read_excel('./initial/Electric/original/ELECTRIC_2013.xlsx', skiprows=5)
df.head()

,Plant Id,Combined Heat & Power Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,State,Census Region,NERC Region,Reserved,...,Netgen_Sep,Netgen_Oct,Netgen_Nov,Netgen_Dec,Total Fuel Consumption Quantity,Electric Fuel Consumption Quantity,Total Fuel Consumption MMBtu,Elec Fuel Consumption MMBtu,Net Generation (Megawatthours),YEAR
0,2,N,NaN,Bankhead Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,10038.302,9972.835,10268.858,24288.335,0,0,2016412,2016412,211342.00,2013
1,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,238775,238711,256685,264211,575166,575166,588611,588611,2813479.00,2013
2,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,420814,427139,451818,467745,53116114,53116114,54371640,54371640,5004417.00,2013
3,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,578038.88,579764.55,143120.38,219258.08,2417558,2417558,51202482,51202482,4962411.90,2013
4,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,4814.121,5506.447,1674.624,6645.925,1178044,1178044,1206368,1206368,116829.14,2013

In [ ]:
df.drop(df[df['Plant Id'] == 99999].index, axis='index', inplace=True)

In [ ]:
print(len(df.columns))
df.columns

97

Index(['Plant Id', 'Combined Heat & Power Plant', 'Nuclear Unit Id',
       'Plant Name', 'Operator Name', 'Operator Id', 'State', 'Census Region',
       'NERC Region', 'Reserved', 'NAICS Code', 'EIA Sector Number',
       'Sector Name', 'Reported Prime Mover', 'Reported Fuel Type Code',
       'AER Fuel Type Code', 'Reserved.1', 'Reserved.2', 'Physical Unit Label',
       'Quantity_Jan', 'Quantity_Feb', 'Quantity_Mar', 'Quantity_Apr',
       'Quantity_May', 'Quantity_Jun', 'Quantity_Jul', 'Quantity_Aug',
       'Quantity_Sep', 'Quantity_Oct', 'Quantity_Nov', 'Quantity_Dec',
       'Elec_Quantity_Jan', 'Elec_Quantity_Feb', 'Elec_Quantity_Mar',
       'Elec_Quantity_Apr', 'Elec_Quantity_May', 'Elec_Quantity_Jun',
       'Elec_Quantity_Jul', 'Elec_Quantity_Aug', 'Elec_Quantity_Sep',
       'Elec_Quantity_Oct', 'Elec_Quantity_Nov', 'Elec_Quantity_Dec',
       'MMBtuPer_Unit_Jan', 'MMBtuPer_Unit_Feb', 'MMBtuPer_Unit_Mar',
       'MMBtuPer_Unit_Apr', 'MMBtuPer_Unit_May', 'MMBtuPer_Unit_Jun',
       'MMBtuPer_Unit_Jul', 'MMBtuPer_Unit_Aug', 'MMBtuPer_Unit_Sep',
       'MMBtuPer_Unit_Oct', 'MMBtuPer_Unit_Nov', 'MMBtuPer_Unit_Dec',
       'Tot_MMBtuJan', 'Tot_MMBtuFeb', 'Tot_MMBtuMar', 'Tot_MMBtuApr',
       'Tot_MMBtuMay', 'Tot_MMBtuJun', 'Tot_MMBtuJul', 'Tot_MMBtuAug',
       'Tot_MMBtuSep', 'Tot_MMBtuOct', 'Tot_MMBtuNov', 'Tot_MMBtuDec',
       'Elec_MMBtuJan', 'Elec_MMBtuFeb', 'Elec_MMBtuMar', 'Elec_MMBtuApr',
       'Elec_MMBtuMay', 'Elec_MMBtuJun', 'Elec_MMBtuJul', 'Elec_MMBtuAug',
       'Elec_MMBtuSep', 'Elec_MMBtuOct', 'Elec_MMBtuNov', 'Elec_MMBtuDec',
       'Netgen_Jan', 'Netgen_Feb', 'Netgen_Mar', 'Netgen_Apr', 'Netgen_May',
       'Netgen_Jun', 'Netgen_Jul', 'Netgen_Aug', 'Netgen_Sep', 'Netgen_Oct',
       'Netgen_Nov', 'Netgen_Dec', 'Total Fuel Consumption Quantity',
       'Electric Fuel Consumption Quantity', 'Total Fuel Consumption MMBtu',
       'Elec Fuel Consumption MMBtu', 'Net Generation (Megawatthours)',
       'YEAR'],
      dtype='object')

In [ ]:
df.rename(columns={'Plant Id': 'Plant Id', 'Plant Name': 'Plant Name', 'Operator Name': 'Operator Name', 'Operator Id': 'Operator Id', 'State': 'State',
                   'Reported Fuel Type Code': 'Reported Fuel Type Code', 'AER Fuel Type Code': 'AER Fuel Type Code',
                   'Net Generation (Megawatthours)': 'Net Generation (Megawatthours)', 'Elec Fuel Consumption MMBtu': 'Elec Fuel Consumption MMBtu',
                   'YEAR': 'Year'}, inplace=True)

In [ ]:
print(df.shape)
df['Year'].value_counts()

(11355, 97)

2013    11355
Name: Year, dtype: int64

In [ ]:
df.to_csv('ele_2013.csv', index = False, quoting=csv.QUOTE_NONNUMERIC)

# 2014

In [ ]:
df = pd.read_excel('./initial/Electric/original/ELECTRIC_2014.xlsx', skiprows=5)
df.head()

,Plant Id,Combined Heat And\nPower Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Census Region,NERC Region,Reserved,...,Netgen\nSeptember,Netgen\nOctober,Netgen\nNovember,Netgen\nDecember,Total Fuel Consumption\nQuantity,Electric Fuel Consumption\nQuantity,Total Fuel Consumption\nMMBtu,Elec Fuel Consumption\nMMBtu,Net Generation\n(Megawatthours),YEAR
0,2,N,.,Bankhead Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,2158.114,3787.842,3950.73,5101.453,0,0,450688,450688,47391.000,2014
1,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,231626,272789,263943,239198,620422,620422,638256,638256,2838798.000,2014
2,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,390970,470114,467025,424903,52954669,52954669,54383172,54383172,4906688.000,2014
3,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,503937.29,260814.71,227758.76,274925.88,2497288,2497288,53018821,53018821,5142849.400,2014
4,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,4090.714,2887.291,4604.238,4552.117,933378,933378,957522,957522,92693.568,2014

In [ ]:
df.drop(df[df['Plant Id'] == 99999].index, axis='index', inplace=True)

In [ ]:
print(len(df.columns))
df.columns

97

Index(['Plant Id', 'Combined Heat And\nPower Plant', 'Nuclear Unit Id',
       'Plant Name', 'Operator Name', 'Operator Id', 'Plant State',
       'Census Region', 'NERC Region', 'Reserved', 'NAICS Code',
       'EIA Sector Number', 'Sector Name', 'Reported\nPrime Mover',
       'Reported\nFuel Type Code', 'AER\nFuel Type Code', 'Reserved.1',
       'Reserved.2', 'Physical\nUnit Label', 'Quantity\nJanuary',
       'Quantity\nFebruary', 'Quantity\nMarch', 'Quantity\nApril',
       'Quantity\nMay', 'Quantity\nJune', 'Quantity\nJuly', 'Quantity\nAugust',
       'Quantity\nSeptember', 'Quantity\nOctober', 'Quantity\nNovember',
       'Quantity\nDecember', 'Elec_Quantity\nJanuary',
       'Elec_Quantity\nFebruary', 'Elec_Quantity\nMarch',
       'Elec_Quantity\nApril', 'Elec_Quantity\nMay', 'Elec_Quantity\nJune',
       'Elec_Quantity\nJuly', 'Elec_Quantity\nAugust',
       'Elec_Quantity\nSeptember', 'Elec_Quantity\nOctober',
       'Elec_Quantity\nNovember', 'Elec_Quantity\nDecember',
       'MMBtuPer_Unit\nJanuary', 'MMBtuPer_Unit\nFebruary',
       'MMBtuPer_Unit\nMarch', 'MMBtuPer_Unit\nApril', 'MMBtuPer_Unit\nMay',
       'MMBtuPer_Unit\nJune', 'MMBtuPer_Unit\nJuly', 'MMBtuPer_Unit\nAugust',
       'MMBtuPer_Unit\nSeptember', 'MMBtuPer_Unit\nOctober',
       'MMBtuPer_Unit\nNovember', 'MMBtuPer_Unit\nDecember',
       'Tot_MMBtu\nJanuary', 'Tot_MMBtu\nFebruary', 'Tot_MMBtu\nMarch',
       'Tot_MMBtu\nApril', 'Tot_MMBtu\nMay', 'Tot_MMBtu\nJune',
       'Tot_MMBtu\nJuly', 'Tot_MMBtu\nAugust', 'Tot_MMBtu\nSeptember',
       'Tot_MMBtu\nOctober', 'Tot_MMBtu\nNovember', 'Tot_MMBtu\nDecember',
       'Elec_MMBtu\nJanuary', 'Elec_MMBtu\nFebruary', 'Elec_MMBtu\nMarch',
       'Elec_MMBtu\nApril', 'Elec_MMBtu\nMay', 'Elec_MMBtu\nJune',
       'Elec_MMBtu\nJuly', 'Elec_MMBtu\nAugust', 'Elec_MMBtu\nSeptember',
       'Elec_MMBtu\nOctober', 'Elec_MMBtu\nNovember', 'Elec_MMBtu\nDecember',
       'Netgen\nJanuary', 'Netgen\nFebruary', 'Netgen\nMarch', 'Netgen\nApril',
       'Netgen\nMay', 'Netgen\nJune', 'Netgen\nJuly', 'Netgen\nAugust',
       'Netgen\nSeptember', 'Netgen\nOctober', 'Netgen\nNovember',
       'Netgen\nDecember', 'Total Fuel Consumption\nQuantity',
       'Electric Fuel Consumption\nQuantity', 'Total Fuel Consumption\nMMBtu',
       'Elec Fuel Consumption\nMMBtu', 'Net Generation\n(Megawatthours)',
       'YEAR'],
      dtype='object')

In [ ]:
df.rename(columns={'Plant Id': 'Plant Id', 'Plant Name': 'Plant Name', 'Operator Name': 'Operator Name', 'Operator Id': 'Operator Id', 'Plant State': 'State',
                   'Reported\nFuel Type Code': 'Reported Fuel Type Code', 'AER\nFuel Type Code': 'AER Fuel Type Code',
                   'Net Generation\n(Megawatthours)': 'Net Generation (Megawatthours)', 'Elec Fuel Consumption\nMMBtu': 'Elec Fuel Consumption MMBtu',
                   'YEAR': 'Year'}, inplace=True)

In [ ]:
print(df.shape)
df['Year'].value_counts()

(11954, 97)

2014    11909
.          45
Name: Year, dtype: int64

In [ ]:
df['Year'] = df['Year'].apply(lambda x: 2014 if x == '.' else x)

In [ ]:
print(df.shape)
df['Year'].value_counts()

(11954, 97)

2014    11954
Name: Year, dtype: int64

In [ ]:
df.to_csv('ele_2014.csv', index = False, quoting=csv.QUOTE_NONNUMERIC)

# 2015

In [ ]:
df = pd.read_excel('./initial/Electric/original/ELECTRIC_2015.xlsx', skiprows=5)
df.head()

,Plant Id,Combined Heat And\nPower Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Census Region,NERC Region,Reserved,...,Netgen\nSeptember,Netgen\nOctober,Netgen\nNovember,Netgen\nDecember,Total Fuel Consumption\nQuantity,Electric Fuel Consumption\nQuantity,Total Fuel Consumption\nMMBtu,Elec Fuel Consumption\nMMBtu,Net Generation\n(Megawatthours),YEAR
0,2,N,.,Bankhead Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,974.1,1728.561,2698.29,3881.341,0,0,241548,241548,25920.000,2015
1,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,126735,145359,244112,223707,770956,770956,788125,788125,2464536.000,2015
2,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,217458,254183,441658,424910,46149030,46149030,47195389,47195389,4318717.000,2015
3,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,495746.92,337971.63,308318.11,352781.05,2153948,2153948,46083543,46083543,4559960.600,2015
4,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,1351.079,1970.374,3594.894,1183.953,446649,446649,457069,457069,44348.399,2015

In [ ]:
df.drop(df[df['Plant Id'] == 99999].index, axis='index', inplace=True)

In [ ]:
print(len(df.columns))
df.columns

97

Index(['Plant Id', 'Combined Heat And\nPower Plant', 'Nuclear Unit Id',
       'Plant Name', 'Operator Name', 'Operator Id', 'Plant State',
       'Census Region', 'NERC Region', 'Reserved', 'NAICS Code',
       'EIA Sector Number', 'Sector Name', 'Reported\nPrime Mover',
       'Reported\nFuel Type Code', 'AER\nFuel Type Code', 'Reserved.1',
       'Reserved.2', 'Physical\nUnit Label', 'Quantity\nJanuary',
       'Quantity\nFebruary', 'Quantity\nMarch', 'Quantity\nApril',
       'Quantity\nMay', 'Quantity\nJune', 'Quantity\nJuly', 'Quantity\nAugust',
       'Quantity\nSeptember', 'Quantity\nOctober', 'Quantity\nNovember',
       'Quantity\nDecember', 'Elec_Quantity\nJanuary',
       'Elec_Quantity\nFebruary', 'Elec_Quantity\nMarch',
       'Elec_Quantity\nApril', 'Elec_Quantity\nMay', 'Elec_Quantity\nJune',
       'Elec_Quantity\nJuly', 'Elec_Quantity\nAugust',
       'Elec_Quantity\nSeptember', 'Elec_Quantity\nOctober',
       'Elec_Quantity\nNovember', 'Elec_Quantity\nDecember',
       'MMBtuPer_Unit\nJanuary', 'MMBtuPer_Unit\nFebruary',
       'MMBtuPer_Unit\nMarch', 'MMBtuPer_Unit\nApril', 'MMBtuPer_Unit\nMay',
       'MMBtuPer_Unit\nJune', 'MMBtuPer_Unit\nJuly', 'MMBtuPer_Unit\nAugust',
       'MMBtuPer_Unit\nSeptember', 'MMBtuPer_Unit\nOctober',
       'MMBtuPer_Unit\nNovember', 'MMBtuPer_Unit\nDecember',
       'Tot_MMBtu\nJanuary', 'Tot_MMBtu\nFebruary', 'Tot_MMBtu\nMarch',
       'Tot_MMBtu\nApril', 'Tot_MMBtu\nMay', 'Tot_MMBtu\nJune',
       'Tot_MMBtu\nJuly', 'Tot_MMBtu\nAugust', 'Tot_MMBtu\nSeptember',
       'Tot_MMBtu\nOctober', 'Tot_MMBtu\nNovember', 'Tot_MMBtu\nDecember',
       'Elec_MMBtu\nJanuary', 'Elec_MMBtu\nFebruary', 'Elec_MMBtu\nMarch',
       'Elec_MMBtu\nApril', 'Elec_MMBtu\nMay', 'Elec_MMBtu\nJune',
       'Elec_MMBtu\nJuly', 'Elec_MMBtu\nAugust', 'Elec_MMBtu\nSeptember',
       'Elec_MMBtu\nOctober', 'Elec_MMBtu\nNovember', 'Elec_MMBtu\nDecember',
       'Netgen\nJanuary', 'Netgen\nFebruary', 'Netgen\nMarch', 'Netgen\nApril',
       'Netgen\nMay', 'Netgen\nJune', 'Netgen\nJuly', 'Netgen\nAugust',
       'Netgen\nSeptember', 'Netgen\nOctober', 'Netgen\nNovember',
       'Netgen\nDecember', 'Total Fuel Consumption\nQuantity',
       'Electric Fuel Consumption\nQuantity', 'Total Fuel Consumption\nMMBtu',
       'Elec Fuel Consumption\nMMBtu', 'Net Generation\n(Megawatthours)',
       'YEAR'],
      dtype='object')

In [ ]:
df.rename(columns={'Plant Id': 'Plant Id', 'Plant Name': 'Plant Name', 'Operator Name': 'Operator Name', 'Operator Id': 'Operator Id', 'Plant State': 'State',
                   'Reported\nFuel Type Code': 'Reported Fuel Type Code', 'AER\nFuel Type Code': 'AER Fuel Type Code',
                   'Net Generation\n(Megawatthours)': 'Net Generation (Megawatthours)', 'Elec Fuel Consumption\nMMBtu': 'Elec Fuel Consumption MMBtu',
                   'YEAR': 'Year'}, inplace=True)

In [ ]:
print(df.shape)
df['Year'].value_counts()

(12109, 97)

2015    12063
.          46
Name: Year, dtype: int64

In [ ]:
df['Year'] = df['Year'].apply(lambda x: 2015 if x == '.' else x)

In [ ]:
print(df.shape)
df['Year'].value_counts()

(12109, 97)

2015    12109
Name: Year, dtype: int64

In [ ]:
df.to_csv('ele_2015.csv', index = False, quoting=csv.QUOTE_NONNUMERIC)

# 2016

In [ ]:
df = pd.read_excel('./initial/Electric/original/ELECTRIC_2016.xlsx', skiprows=5)
df.head()

,Plant Id,Combined Heat And\nPower Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Census Region,NERC Region,Reserved,...,Netgen\nSeptember,Netgen\nOctober,Netgen\nNovember,Netgen\nDecember,Total Fuel Consumption\nQuantity,Electric Fuel Consumption\nQuantity,Total Fuel Consumption\nMMBtu,Elec Fuel Consumption\nMMBtu,Net Generation\n(Megawatthours),YEAR
0,2,N,.,Bankhead Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,-11.566,-10.832,-10.27,-20.909,0,0,0,0,-325.000,2016
1,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,251839,219263,266927,265011,878457,878457,895285,895285,2918277.000,2016
2,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,463646,401506,495929,501072,56694492,56694492,57790622,57790622,5483083.000,2016
3,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,473793.7,286736.32,363876.57,207463.2,2044002,2044002,43137858,43137858,4278313.100,2016
4,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,11246.298,14387.682,3534.431,1623.801,908006,908006,926020,926020,91217.936,2016

In [ ]:
df.drop(df[df['Plant Id'] == 99999].index, axis='index', inplace=True)

In [ ]:
print(len(df.columns))
df.columns

97

Index(['Plant Id', 'Combined Heat And\nPower Plant', 'Nuclear Unit Id',
       'Plant Name', 'Operator Name', 'Operator Id', 'Plant State',
       'Census Region', 'NERC Region', 'Reserved', 'NAICS Code',
       'EIA Sector Number', 'Sector Name', 'Reported\nPrime Mover',
       'Reported\nFuel Type Code', 'AER\nFuel Type Code', 'Reserved.1',
       'Reserved.2', 'Physical\nUnit Label', 'Quantity\nJanuary',
       'Quantity\nFebruary', 'Quantity\nMarch', 'Quantity\nApril',
       'Quantity\nMay', 'Quantity\nJune', 'Quantity\nJuly', 'Quantity\nAugust',
       'Quantity\nSeptember', 'Quantity\nOctober', 'Quantity\nNovember',
       'Quantity\nDecember', 'Elec_Quantity\nJanuary',
       'Elec_Quantity\nFebruary', 'Elec_Quantity\nMarch',
       'Elec_Quantity\nApril', 'Elec_Quantity\nMay', 'Elec_Quantity\nJune',
       'Elec_Quantity\nJuly', 'Elec_Quantity\nAugust',
       'Elec_Quantity\nSeptember', 'Elec_Quantity\nOctober',
       'Elec_Quantity\nNovember', 'Elec_Quantity\nDecember',
       'MMBtuPer_Unit\nJanuary', 'MMBtuPer_Unit\nFebruary',
       'MMBtuPer_Unit\nMarch', 'MMBtuPer_Unit\nApril', 'MMBtuPer_Unit\nMay',
       'MMBtuPer_Unit\nJune', 'MMBtuPer_Unit\nJuly', 'MMBtuPer_Unit\nAugust',
       'MMBtuPer_Unit\nSeptember', 'MMBtuPer_Unit\nOctober',
       'MMBtuPer_Unit\nNovember', 'MMBtuPer_Unit\nDecember',
       'Tot_MMBtu\nJanuary', 'Tot_MMBtu\nFebruary', 'Tot_MMBtu\nMarch',
       'Tot_MMBtu\nApril', 'Tot_MMBtu\nMay', 'Tot_MMBtu\nJune',
       'Tot_MMBtu\nJuly', 'Tot_MMBtu\nAugust', 'Tot_MMBtu\nSeptember',
       'Tot_MMBtu\nOctober', 'Tot_MMBtu\nNovember', 'Tot_MMBtu\nDecember',
       'Elec_MMBtu\nJanuary', 'Elec_MMBtu\nFebruary', 'Elec_MMBtu\nMarch',
       'Elec_MMBtu\nApril', 'Elec_MMBtu\nMay', 'Elec_MMBtu\nJune',
       'Elec_MMBtu\nJuly', 'Elec_MMBtu\nAugust', 'Elec_MMBtu\nSeptember',
       'Elec_MMBtu\nOctober', 'Elec_MMBtu\nNovember', 'Elec_MMBtu\nDecember',
       'Netgen\nJanuary', 'Netgen\nFebruary', 'Netgen\nMarch', 'Netgen\nApril',
       'Netgen\nMay', 'Netgen\nJune', 'Netgen\nJuly', 'Netgen\nAugust',
       'Netgen\nSeptember', 'Netgen\nOctober', 'Netgen\nNovember',
       'Netgen\nDecember', 'Total Fuel Consumption\nQuantity',
       'Electric Fuel Consumption\nQuantity', 'Total Fuel Consumption\nMMBtu',
       'Elec Fuel Consumption\nMMBtu', 'Net Generation\n(Megawatthours)',
       'YEAR'],
      dtype='object')

In [ ]:
df.rename(columns={'Plant Id': 'Plant Id', 'Plant Name': 'Plant Name', 'Operator Name': 'Operator Name', 'Operator Id': 'Operator Id', 'Plant State': 'State',
                   'Reported\nFuel Type Code': 'Reported Fuel Type Code', 'AER\nFuel Type Code': 'AER Fuel Type Code',
                   'Net Generation\n(Megawatthours)': 'Net Generation (Megawatthours)', 'Elec Fuel Consumption\nMMBtu': 'Elec Fuel Consumption MMBtu',
                   'YEAR': 'Year'}, inplace=True)

In [ ]:
print(df.shape)
df['Year'].value_counts()

(12786, 97)

2016    12735
.          51
Name: Year, dtype: int64

In [ ]:
df['Year'] = df['Year'].apply(lambda x: 2016 if x == '.' else x)

In [ ]:
print(df.shape)
df['Year'].value_counts()

(12786, 97)

2016    12786
Name: Year, dtype: int64

In [ ]:
df.to_csv('ele_2016.csv', index = False, quoting=csv.QUOTE_NONNUMERIC)

# 2017

In [ ]:
df = pd.read_excel('./incremental/original/ELECTRIC_2017.xlsx', skiprows=5)
df.head()

,Plant Id,Combined Heat And\nPower Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Census Region,NERC Region,Reserved,...,Netgen\nSeptember,Netgen\nOctober,Netgen\nNovember,Netgen\nDecember,Total Fuel Consumption\nQuantity,Electric Fuel Consumption\nQuantity,Total Fuel Consumption\nMMBtu,Elec Fuel Consumption\nMMBtu,Net Generation\n(Megawatthours),YEAR
0,2,N,.,Bankhead Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,-18.438,-16.519,-18.925,-22.249,0,0,0,0,-291.00,2017
1,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,248836,203879,227094,253167,741965,741965,756470,756470,2958047.00,2017
2,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,452006,376385,428812,479416,56794711,56794711,57873437,57873437,5458926.00,2017
3,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,384122.43,418924.14,350252.5,210041.03,1626747,1626747,34013923,34013923,3353297.00,2017
4,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,13141.568,6080.856,4952.502,9742.968,982252,982252,1001765,1001765,94284.05,2017

In [ ]:
df.drop(df[df['Plant Id'] == 99999].index, axis='index', inplace=True)

In [ ]:
print(len(df.columns))
df.columns

97

Index(['Plant Id', 'Combined Heat And\nPower Plant', 'Nuclear Unit Id',
       'Plant Name', 'Operator Name', 'Operator Id', 'Plant State',
       'Census Region', 'NERC Region', 'Reserved', 'NAICS Code',
       'EIA Sector Number', 'Sector Name', 'Reported\nPrime Mover',
       'Reported\nFuel Type Code', 'AER\nFuel Type Code', 'Reserved.1',
       'Reserved.2', 'Physical\nUnit Label', 'Quantity\nJanuary',
       'Quantity\nFebruary', 'Quantity\nMarch', 'Quantity\nApril',
       'Quantity\nMay', 'Quantity\nJune', 'Quantity\nJuly', 'Quantity\nAugust',
       'Quantity\nSeptember', 'Quantity\nOctober', 'Quantity\nNovember',
       'Quantity\nDecember', 'Elec_Quantity\nJanuary',
       'Elec_Quantity\nFebruary', 'Elec_Quantity\nMarch',
       'Elec_Quantity\nApril', 'Elec_Quantity\nMay', 'Elec_Quantity\nJune',
       'Elec_Quantity\nJuly', 'Elec_Quantity\nAugust',
       'Elec_Quantity\nSeptember', 'Elec_Quantity\nOctober',
       'Elec_Quantity\nNovember', 'Elec_Quantity\nDecember',
       'MMBtuPer_Unit\nJanuary', 'MMBtuPer_Unit\nFebruary',
       'MMBtuPer_Unit\nMarch', 'MMBtuPer_Unit\nApril', 'MMBtuPer_Unit\nMay',
       'MMBtuPer_Unit\nJune', 'MMBtuPer_Unit\nJuly', 'MMBtuPer_Unit\nAugust',
       'MMBtuPer_Unit\nSeptember', 'MMBtuPer_Unit\nOctober',
       'MMBtuPer_Unit\nNovember', 'MMBtuPer_Unit\nDecember',
       'Tot_MMBtu\nJanuary', 'Tot_MMBtu\nFebruary', 'Tot_MMBtu\nMarch',
       'Tot_MMBtu\nApril', 'Tot_MMBtu\nMay', 'Tot_MMBtu\nJune',
       'Tot_MMBtu\nJuly', 'Tot_MMBtu\nAugust', 'Tot_MMBtu\nSeptember',
       'Tot_MMBtu\nOctober', 'Tot_MMBtu\nNovember', 'Tot_MMBtu\nDecember',
       'Elec_MMBtu\nJanuary', 'Elec_MMBtu\nFebruary', 'Elec_MMBtu\nMarch',
       'Elec_MMBtu\nApril', 'Elec_MMBtu\nMay', 'Elec_MMBtu\nJune',
       'Elec_MMBtu\nJuly', 'Elec_MMBtu\nAugust', 'Elec_MMBtu\nSeptember',
       'Elec_MMBtu\nOctober', 'Elec_MMBtu\nNovember', 'Elec_MMBtu\nDecember',
       'Netgen\nJanuary', 'Netgen\nFebruary', 'Netgen\nMarch', 'Netgen\nApril',
       'Netgen\nMay', 'Netgen\nJune', 'Netgen\nJuly', 'Netgen\nAugust',
       'Netgen\nSeptember', 'Netgen\nOctober', 'Netgen\nNovember',
       'Netgen\nDecember', 'Total Fuel Consumption\nQuantity',
       'Electric Fuel Consumption\nQuantity', 'Total Fuel Consumption\nMMBtu',
       'Elec Fuel Consumption\nMMBtu', 'Net Generation\n(Megawatthours)',
       'YEAR'],
      dtype='object')

In [ ]:
df.rename(columns={'Plant Id': 'Plant Id', 'Plant Name': 'Plant Name', 'Operator Name': 'Operator Name', 'Operator Id': 'Operator Id', 'Plant State': 'State',
                   'Reported\nFuel Type Code': 'Reported Fuel Type Code', 'AER\nFuel Type Code': 'AER Fuel Type Code',
                   'Net Generation\n(Megawatthours)': 'Net Generation (Megawatthours)', 'Elec Fuel Consumption\nMMBtu': 'Elec Fuel Consumption MMBtu',
                   'YEAR': 'Year'}, inplace=True)

In [ ]:
print(df.shape)
df['Year'].value_counts()

(13240, 97)

2017    13184
.          56
Name: Year, dtype: int64

In [ ]:
df['Year'] = df['Year'].apply(lambda x: 2017 if x == '.' else x)

In [ ]:
print(df.shape)
df['Year'].value_counts()

(13240, 97)

2017    13240
Name: Year, dtype: int64

In [ ]:
df.to_csv('ele_2017.csv', index = False, quoting=csv.QUOTE_NONNUMERIC)