In [ ]:
import pandas as pd
import csv
from google.colab import files
file = files.upload()

Saving pollution_us_2000_2016.csv to pollution_us_2000_2016.csv

In [ ]:
!pip install --upgrade xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 5.7 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-2.0.1

In [ ]:
df = pd.read_csv('pollution_us_2000_2016.csv')
df.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN

In [ ]:
df.shape

(1746661, 29)

In [ ]:
df.to_csv('pollution.csv', index = False, quoting=csv.QUOTE_NONNUMERIC)

In [ ]:
df.iloc[9407]

Unnamed: 0                                          9407
State Code                                             6
County Code                                           25
Site Num                                               5
Address              1029 ETHEL ST, CALEXICO HIGH SCHOOL
State                                         California
County                                          Imperial
City                                            Calexico
Date Local                                    2000-01-27
NO2 Units                              Parts per billion
NO2 Mean                                       23.913043
NO2 1st Max Value                                   52.0
NO2 1st Max Hour                                      22
NO2 AQI                                               49
O3 Units                               Parts per million
O3 Mean                                         0.016583
O3 1st Max Value                                   0.036
O3 1st Max Hour                                        9
O3 AQI                                                31
SO2 Units                              Parts per billion
SO2 Mean                                        1.414286
SO2 1st Max Value                                    8.0
SO2 1st Max Hour                                      23
SO2 AQI                                              NaN
CO Units                               Parts per million
CO Mean                                             0.85
CO 1st Max Value                                     3.6
CO 1st Max Hour                                       23
CO AQI                                              41.0
Name: 9407, dtype: object

In [ ]:
df.iloc[47676]

Unnamed: 0                                            47676
State Code                                               20
County Code                                             209
Site Num                                                 21
Address              1210 N. 10TH ST.,JFK RECREATION CENTER
State                                                Kansas
County                                            Wyandotte
City                                            Kansas City
Date Local                                       2000-01-01
NO2 Units                                 Parts per billion
NO2 Mean                                               20.5
NO2 1st Max Value                                      40.0
NO2 1st Max Hour                                          0
NO2 AQI                                                  38
O3 Units                                  Parts per million
O3 Mean                                            0.027417
O3 1st Max Value                                      0.038
O3 1st Max Hour                                          15
O3 AQI                                                   32
SO2 Units                                 Parts per billion
SO2 Mean                                               4.55
SO2 1st Max Value                                       5.3
SO2 1st Max Hour                                          2
SO2 AQI                                                 NaN
CO Units                                  Parts per million
CO Mean                                               0.875
CO 1st Max Value                                        1.0
CO 1st Max Hour                                           0
CO AQI                                                  NaN
Name: 47676, dtype: object

In [ ]:
df.iloc[32830]

Unnamed: 0                                     32830
State Code                                         6
County Code                                       83
Site Num                                        4003
Address              STS POWER PLANT, VANDENBERG AFB
State                                     California
County                                 Santa Barbara
City                       Vandenberg Air Force Base
Date Local                                2000-03-13
NO2 Units                          Parts per billion
NO2 Mean                                         0.0
NO2 1st Max Value                                0.0
NO2 1st Max Hour                                   0
NO2 AQI                                            0
O3 Units                           Parts per million
O3 Mean                                     0.042542
O3 1st Max Value                               0.047
O3 1st Max Hour                                   11
O3 AQI                                            40
SO2 Units                          Parts per billion
SO2 Mean                                         0.0
SO2 1st Max Value                                0.0
SO2 1st Max Hour                                   5
SO2 AQI                                          NaN
CO Units                           Parts per million
CO Mean                                     0.117391
CO 1st Max Value                                 0.2
CO 1st Max Hour                                   19
CO AQI                                           NaN
Name: 32830, dtype: object